body {
    background-color: white;
    font-family: cursive;
    font-family: 'Comic Neue', cursive;
    text-align: center;
    transition: color 0.5s ease;
}

span {
    display: inline;
    font-size: x-large;
}

.sliderClr {
    display: inline-block;
    margin: 20px auto;
    width: 40%;
    height: auto;
    padding: 10px;
}

.sliderClr:hover {
    cursor: pointer;
}

label {
    display: inline-block;
    margin: auto auto;
    text-align: center;
    font-size: x-large;
}

div {
    display: block;
    text-align: center;
    margin: 80px auto;
    font-size: xx-large;
}

div span {
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

div span:hover {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    cursor: pointer;
}

#contrast {
    display: table;
    width: 20vw;
    height: 20vw;
    background: black;
    border: solid 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    transition-property: transform border-radius;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#contrast:hover {
    width: 20vw;
    height: 20vw;
    transition-property: transform border-radius;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform: scale(1.1);
    transform: rotate(360deg);
    border-radius: 100%;
}

#contrastText {
    display: block;
    width: auto;
    margin: 50% auto;
    background: rgba(0, 0, 0, 0.2);
}

#contrastText:hover {
    cursor: none;
}